* {
	font-family: helvetica;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 10px;
}


h1 {
	color: black;
	text-align: center;
/*	background-color: darkblue;*/
/*	border: 1px solid black;*/
/*	margin: auto;*/
/*	margin-bottom: 15px;*/
	margin-top: 15px;
	padding: 5px;

}

div {
	background-color: lightblue;
	padding: 5px;
	border: 1px solid black;
/*	margin: auto;*/
/*	margin-left: 2px;*/
/*	margin-right: 2px;*/
	float: left;
/*	margin-bottom: 10px;*/
	width: 300px;

}


p {
	padding: 5px;
/*	margin: 2px;*/
/*	margin-bottom: 10px;*/
	clear: both;
/*	font-size: 125%;*/
}

/*#right {
	position: absolute;
	right: -90%;
	padding: 5px;	
}*/

a {
	padding: 5px;
	float: right;
/*	font-size: 175%;*/
}

a.heading1 {
	background-color: lightcoral;
	border: 1px solid black;
/*	float: right;	*/
}

a.heading2 {
	background-color: lightpink;
	border: 1px solid black;
/*	float: right;*/
}

a.heading3 {
	background-color: lightgreen;
	border: 1px solid black;
/*	float: right;*/
}

@media (min-width: 992px) {
	.col-lg-4 {
		width:calc(33.3% - 45px);
		box-align: center;
		margin: 15px;


	}
	#Title1 {
	margin-left: 40px;
} 
#Title3 {
	margin-right: 25px;
}

	}


@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 { width: calc(50% - 45px);
		margin: 15px;}
	.col-md-12 {width: calc(100% - 45px);
		margin: 15px}
	
	}




@media (max-width: 767px) {
	.col-sm-12 {width: calc(100% - 80px);
		margin-left: 40px;
		margin-right: 40px;}
}

