/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Shantell+Sans:ital,wght@0,400;1,300&display=swap');

/*End of Fonts*/

body {
	font-size: 16px;
	color: black;
	font-family: 'Poppins', sans-serif;
}

/* HEADER Navigation Bar */

#heaver-nav {
	border-radius: 0;
	border: 0;
/*	margin:	auto;*/
}

#header-nav a {
	text-decoration: none;
}

.logo-img {
	background: url("../foodllc.png") no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 10px 10px 0px;
	border-radius: 50%;

}

.navbar-brand {
	text-decoration: none;
	padding-top: 35px;
}

.navbar-brand h1 {
	text-transform: uppercase;
	font-size: 2em;
	color: rgba(138, 207, 255, 1.0);
	text-shadow: 1px 1px 1px;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-header button.navbar-toggle {
	margin-top: 40px;
}

.navbar-brand {
		min-height: 100px;
	}

ul#nav-list {
	background-color: gray;
}
ul#nav-list>li> *{
	color: white;
}
#nav-list>li:hover {
	background-color: forestgreen;
}




/* END of Navigation Bat */


/* Main Content */

h2 {
	text-align: center;
	font-family: 'Shantell Sans', cursive;
	font-size: 2.5em;
	padding-bottom: 25px;
}

section.container {
/*	height: 1100px;*/
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin: auto;
	margin-bottom: 25px;
	background-color: #090;
	opacity: .8;
	color: white;
	overflow: scroll;

}

#item-chicken{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}
#item-beef{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}
#item-sushi{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}

#Item1 {
	padding: 5px;
}


/* End of Main Content */


/* Media Queries */

/* Large Queury */
/* End of Large Queury */


/* Medium Queury */
@media (min-width: 992px) and (max-width: 1199px) {
.logo-img {
		width: 150px;
		height: 150px;
	}
}
/* End of Medium Queury */


/* Small Queury */
@media (min-width: 768px) and (max-width: 991) {

}
/* End of Small Queury */


/* Extra Small Queury */
@media	(max-width: 767px) {
	.navbar-brand h1 {
		font-size: 5vw;
	}

	ul#nav-list {
		text-align: center;
	}
}
/* End of Extra Small Queury */


